@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-image: url('../../banners/degrade.png');
  background-position: center;
  background-repeat: repeat-x;
  background-position: -0px -1286px;
}

.titulo-fio {
  text-align: center;
  margin: 40px 0;
}

.titulo-fio h1 {
  font-size: 0.9rem;
  font-weight: 800;
  color: #d2ae5b;
  letter-spacing: 2px;
  font-weight: calc(2 * 200);
}

.titulo-fio h2 {
  font-size: 4rem;
  font-weight: 600;
  color: #7e294b;
  letter-spacing: 2px;
}

.titulo-fio h3 {
  margin-top: -30px;
  font-size: 4rem;
  font-weight: 600;
  color: #7e294b;
  letter-spacing: 2px;
}

body {
  font-family: 'Inter', sans-serif;
  color: #7e294b;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 40px 20px;
}

.section {
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.section-reverse {
  display: flex;
  flex-direction: row-reverse;
  align-items: space-around;
  justify-content: space-around;
  gap: 40px;
  margin-bottom: 60px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.image {
  flex: 1 1 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image img {
  width: 100%;
  max-width: 450px;
  height: auto;
  border-radius: 12px;
  object-fit: contain;
}

.text {
  flex: 6 6 ;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  margin-bottom: 20px;

}

.text b{
  font-size: 1.1rem;
  font-weight: calc(2 * 280);
}

.text-w {
  flex: 6 6 ;
  display: flex;
  font-weight: bolder;
  font-size: 1.5rem;
  color: #7e294b;
  margin-bottom: 20px;
}

.text-w b {
  font-weight: 800;
  font-weight: calc(2 * 180);
}

.text-x {
  flex: 5 5;
  justify-content: center;
}


.text h2 {
  font-size: 32px;
  color: #7e294b;
  margin-bottom: 16px;
  font-weight: 800;
}

.text p {
  font-size: 16px;
  margin-bottom: 20px;
  color: #3a3a3a !important;
}

.text ul {
  margin-top: 10px;
  padding-left: 20px;
}

.text ul li {
  margin-bottom: 6px;
  color: #3a3a3a;
  list-style: none;
  position: relative;
  font-size: 1.2rem;
}

li::before {
  content: '•'; 
  color: #7e294b; 
  font-size: 1.2em; 
  position: absolute;
  left: -20px; 
}

.reta2{
  width: 1000px;
  height: 0.1rem;
  background-color: #7e294b52;
  margin-top: -20px;
}

.reta3{
  width: 750px;
  height: 0.1rem;
  background-color: #7e294b52;
  margin-left: 40px;
}

.reta4{
  width: 600px;
  height: 0.1rem;
  background-color: #7e294b52;
  margin-left: 40px;
}

.reta5{
  width: 800px;
  height: 0.1rem;
  background-color: #7e294b52;
  margin-left: 40px;
}

.nome-fio h2 {
  font-size: 2.5rem;
  color: #7e294b;
  margin-bottom: 16px;
  font-weight: calc(2 * 340);
}

.nome-fio h2 b {
  font-weight: calc(2 * 240);
}

.nome-fio {
  display: flex;
  align-content:flex-end;
}

.reais {
  display: flex;
  margin-left: -24px;
  font-size: 1.3rem;
  font-weight: calc(2 * 320);
  color: #7e294b;
}

/* Responsivo */
@media (max-width: 768px) {
  .section,
  .section.reverse {
    flex-direction: column;
    align-items: center;
  }

  .text {
    text-align: left;
    width: 100%;
  }

  .image {
    width: 100%;
    margin-bottom: 20px;
  }

  .text h2 {
    font-size: 26px;
  }
}
